body{
  background-color: rgb(159, 85, 85);
}

button{
  padding: 20px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}

.center{
  text-align: center;
}

.title{
  margin: 50px;
  font-size: 70px;
}

.result{
  font-size: 30px;
  color: rgb(0, 49, 0);
}

button:hover{
  background-color: yellow;
  color: blue;
}

